body{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;
}
.col{
    float: left;
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}
.price-box{
    list-style-type: none;
    background-color: #FCFCFC;
    color: black;
    border: 1px solid #FCFCFC;
    margin: 0px;
    padding: 0px;
    transition: 0.3s;
}
.price-box:hover, .price-box.best{
    box-shadow: 0 10px 15px 0 #FCFCFC;

}
.price-box .title{
    background-color: #1F957B;
    color: #0C0301;
    font-size: 25px;
}
.price-box  li{
    padding:  20px;
    border-bottom: 1px solid #D9D7D7;
    text-align: center;
}
.price-box emph{
    background-color: #5B8D76;
    font-size: 20px;
}
.button{
    background-color: green;
    border: none;
    color: #030303;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
@media(max-width: 700px){
    .col{
        width: 100%;
    }
}
h2{ 
    text-align: center;
    color: #0C0301;
 }


